.swiper {
    width: 100%;
    background: rgb(19, 19, 19);
}

.swiper-slide {
    background: rgb(19, 19, 19);
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
}

.mainSliderContent {
    position: absolute;
    left: 50px;
    width: 600px;
    background: rgba(19, 19, 19, 0.518);
    color: white;
    padding: 5px;
    border-radius: 25px;
    transition: 1s ease-in all;
}

.mainSliderContent:hover {
    background: black;
    transform:  rotate(360deg);

}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    top: 458px !important
}